<meta charset="utf-8">
<meta name="description"
      content="AICodingMentor - Create fun coding challenges and improve your skills">
<meta name="keywords" content="ai, llm, coding, learn">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="og:site_name" content="AICodingMentor">

<title>{{ page_title }}</title>

{# Global css #}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

<script defer type="text/javascript" src="{{ url_for('static', filename = 'js/jquery.min.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename = 'js/bootstrap.bundle.min.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename = 'js/ace.min.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename = 'js/theme-monokai.min.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename = 'js/marked.min.js') }}"></script>

<script defer type="text/javascript" src="{{ url_for('static', filename = 'js/challenge.js') }}"></script>


<script defer type="text/javascript" src="{{ url_for('static', filename = 'js/planguages/mode-python.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename = 'js/planguages/mode-javascript.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename = 'js/planguages/mode-java.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename = 'js/planguages/mode-c_cpp.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename = 'js/planguages/mode-typescript.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename = 'js/planguages/mode-csharp.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename = 'js/planguages/mode-ruby.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename = 'js/planguages/mode-rust.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename = 'js/planguages/mode-kotlin.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename = 'js/planguages/mode-html.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename = 'js/planguages/mode-pgsql.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename = 'js/planguages/mode-golang.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename = 'js/planguages/mode-swift.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename = 'js/planguages/mode-php.js') }}"></script>
