<meta charset="utf-8">
<meta name="description"
      content="SmarterVids - the platform for data-driven YouTubers. Get trends, statistics and ideas for your YouTube channel">
<meta name="keywords" content="youtube, video, platform, tube, channel, content, creator">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="og:site_name" content="SmarterVids">

<title>{{ page_title }}</title>

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}" type="image/x-icon">

{# Global css #}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-icons.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/chosen.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/highlight.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/chosen.min.css') }}">

<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

<script defer type="text/javascript" src="{{ url_for('static', filename = 'js/jquery.min.js') }}"></script>
<!--<script defer type="text/javascript" src="{{ url_for('static', filename = 'js/jquery-ui.min.js') }}"></script>-->
<script defer type="text/javascript" src="{{ url_for('static', filename = 'js/bootstrap.bundle.min.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename = 'js/jquery.dataTables.min.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename = 'js/chosen.jquery.min.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename = 'js/plotly-latest.min.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename = 'js/highlight.min.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename = 'js/python.min.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename = 'js/chosen.jquery.min.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename = 'js/ace.min.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename = 'js/scripts.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename = 'js/mode-python.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename = 'js/theme-monokai.min.js') }}"></script>

<script defer type="text/javascript" src="{{ url_for('static', filename = 'js/challenge.js') }}"></script>
