{% extends "meta.html" %}
{% set active_page = "Challenge" %}

{% block content %}
  <div class="row my-3" style="text-align: center">
    <h1>AICodingMentor</h1>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="custom-block">
        <form
          method="POST"
          id="getChallenge"
        >
          <div class="row">
            <div class="col-12 col-md-6 mb-3">
              <h4>Programming L.</h4>

              <select
                class="form-select"
                aria-label="Default select example"
                id="pLanguage"
                name="pLanguage"
                onchange="updatePLanguage();"
              >
                <option value="python">Python</option>
                <option value="javascript">JavaScript</option>
                <option value="java">Java</option>
                <option value="c">C</option>
                <option value="cpp">C++</option>
                <option value="csharp">C#</option>
                <option value="golang">Golang</option>
                <option value="php">PHP</option>
                <option value="ruby">Ruby</option>
                <option value="rust">Rust</option>
                <option value="typescript">TypeScript</option>
                <option value="swift">Swift</option>
                <option value="kotlin">Kotlin</option>
                <option value="html">HTML</option>
                <option value="pgsql">Postgres</option>
              </select>
            </div>

            <div class="col-12 col-md-6 mb-3">
              <h4>Language</h4>

              <select
                class="form-select"
                aria-label="Default select example"
                id="language"
                name="language"
              >
                <option value="english">English</option>
                <option value="german">German</option>
                <option value="french">French</option>
                <option value="spanish">Spanish</option>
                <option value="italian">Italian</option>
                <option value="portuguese">Portuguese</option>
                <option value="russian">Russian</option>
                <option value="chinese">Chinese</option>
                <option value="japanese">Japanese</option>
                <option value="korean">Korean</option>
                <option value="arabic">Arabic</option>
                <option value="turkish">Turkish</option>
              </select>
            </div>

            <div class="col-12 col-md-6 mb-3">
              <h4>Difficulty</h4>
              {#            <label for="difficulty" class="form-label">Difficulty</label>#}
              <div style="display: flex; justify-content: space-between;">
                <div>Easy</div>
                <div>Medium</div>
                <div>Hard</div>
              </div>
              <input
                type="range"
                class="form-range"
                min="1"
                max="5"
                id="difficulty"
                name="difficulty"
              >
            </div>
            <div class="col-12 col-md-6 mb-3">
              <h4>Length</h4>
              {#            <label for="difficulty" class="form-label">Difficulty</label>#}
              <div style="display: flex; justify-content: space-between;">
                <div>Short</div>
                <div>Medium</div>
                <div>Long</div>
              </div>
              <input
                type="range"
                class="form-range"
                min="1"
                max="5"
                id="length"
                name="length"
              >
            </div>

            <div class="col-12 mb-3">
              <h4
                data-toggle="tooltip"
                data-placement="top"
                title="Enter either the absolute path of the repository / folder or the path relative to the running application"
              >Topic / Description</h4>
              <div class="d-flex">
                <textarea
                  class="form-control me-2"
                  id="description"
                  name="description"
                  placeholder="Optional: Specify topic..."
                  oninput="updateCharCount()"
                  maxlength="200"
                  rows="2"
                ></textarea><br>
              </div>
              <small id="charCount">0/200</small>
            </div>
            <div class="col-12 mb-3">
              <div style="justify-content: space-between">
                {#                <label>#}
                {#                  <input#}
                {#                    type="checkbox" {{ "checked" if save_questions else "" }}#}
                {#                    class="custom-checkbox"#}
                {#                    id="save_questions"#}
                {#                    name="save_questions"#}
                {#                  >#}
                {#                  <span class="checkmark"></span>#}
                {#                  Save History#}
                {#                </label>#}
                <button
                  type="submit"
                  id="getChallange"
                  class="btn btn-success"
                >
                  Generate New Challenge
                </button>
              </div>
            </div>


          </div>
        </form>
      </div>

      <div class="custom-block mt-3">
        <div class="col-12 mb-3">

          <div style="display: flex; justify-content: space-between;">

            <button type="button" class="btn btn-outline-success" id="getHint" onclick="toggleHint()">
              Show Hint
            </button>

            <button type="button" class="btn btn-outline-secondary" id="showSolution" onclick="showSolution()">
              Show Possible Solution
            </button>
            <button type="button" class="btn btn-secondary" id="hideSolution" style="display: none"
                    onclick="hideSolution()">
              Hide Solution
            </button>

            <button type="button" class="btn btn-success" id="submitAnswer">
              Submit
            </button>
          </div>
        </div>

        <div class="col-12 mb-3">
          <h4>Feedback</h4>
          <div id="feedback" style="min-height: 20px"></div>
        </div>

        <div class="col-12 mb-3">
          <h4>Hint</h4>
          <div id="hint" style="display: none; min-height: 200px"></div>
        </div>
      </div>
    </div>

    <div class="col col-md-8">
      <div class="custom-block" style="height:100%!important;">
        <h4>Assignment</h4>
        <div id="assignment" style="min-height: 30px"></div>

        <h4 id="codeTitle">Your Code</h4>
        <div>
          <div id="editor" style="min-height: 500px"></div>
        </div>
      </div>
    </div>
  </div>


  <script>

    var editor = null;
    var attempt = "";

    document.addEventListener('DOMContentLoaded', function () {
      editor = ace.edit("editor");
      editor.getSession().setUseWorker(false);
      editor.setTheme("ace/theme/monokai");
      editor.getSession().setMode("ace/mode/python");
      editor.setOptions({
        fontSize: "14pt"
      });

      {% if challenge %}
        currentContent = {{ challenge|tojson }};
        editor.setReadOnly(false);
        if (currentContent.attempt) {
          editor.setValue(currentContent.attempt, -1);
          const feedbackDiv = document.getElementById('feedback');
          feedbackDiv.innerHTML = marked.parse({{ challenge.feedback|tojson }});
        } else {
          editor.setValue(currentContent.code, -1);
        }
        document.getElementById('hint').innerHTML = marked.parse(currentContent.hint);
        document.getElementById('assignment').innerHTML = marked.parse(currentContent.assignment);
        {#document.getElementById('challengeTitle').textContent = currentContent.title;#}

      {% else %}
        editor.setReadOnly(true);
        editor.setValue("# Let's go! Generate a challenge with the sidebar!", -1);
      {% endif %}
    });

    document.getElementById('getChallenge').addEventListener('submit', function (event) {
      event.preventDefault(); // Prevent the default form submission

      var data = {
        p_language: document.getElementById('pLanguage').value,
        language: document.getElementById('language').value,
        difficulty: document.getElementById('difficulty').value,
        length: document.getElementById('length').value,
        description: document.getElementById('description').value,
      };
      fetchStream(data);
    });

    document.getElementById('submitAnswer').addEventListener('click', function (event) {
      event.preventDefault(); // Prevent the default form submission
      attempt = editor.getValue();
      var data = {
        p_language: document.getElementById('pLanguage').value,
        language: document.getElementById('language').value,
        difficulty: document.getElementById('difficulty').value,
        length: document.getElementById('length').value,
        description: document.getElementById('description').value,
        assignment: currentContent.assignment,
        code: currentContent.code,
        solution: currentContent.solution,
        hint: currentContent.hint,
        attempt: editor.getValue(),
      };
      fetchFeedback(data);
    });

  </script>


{% endblock content %}